<style>
    .button {
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
    
    .button1 {
      background-color: white; 
      color: black; 
      border: 2px solid #04AA6D;
    }
    
    .button1:hover {
      background-color: #04AA6D;
      color: white;
    }
    
    .button2 {
      background-color: white; 
      color: black; 
      border: 2px solid #008CBA;
    }
    
    .button2:hover {
      background-color: #008CBA;
      color: white;
    }

</style>

{% extends 'base.html' %}

{% block content %}
<div>
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>
</div>
    <button class="button button1"><a href="{% url 'home' %}">Go to the main page</a></button>
<br>
<br>
    <button class="button button2"><a href="{%url 'post_edit' post.pk %}">Change the post</a></button>
<br>
<br>
    <button class="button button1"><a href="{%url 'post_delete' post.pk %}">Delete Post</a></button>
<br>
<br>
{% endblock content %}

